<?xml version="1.0" encoding="UTF-8"?>

<phpunit colors="true">
    <testsuites>
        <testsuite name="Mail_Utilities tests" >
        <file>/var/www/html/dev/heartmindequation.com/KMailList/Mail_Utilities/tests/KMailFacadeTester.php</file> 
        </testsuite>
       <testsuite name="Models tests">
            <directory>/var/www/html/dev/heartmindequation.com/KMailList/Models/tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
